<label class="navbar-brand" style="padding-top: 5%;">UPDATE PASSWORD</label>

<div class="container text-center" style="padding-top: 1%;">

    <div class="row mt-3">

        <div class="col-md-4">
        </div>

        <div class="col-md-4">

            <form [formGroup]="passwordForm">
                <div class="form-group">
                    <label class="float-left">Type your current password.</label>
                    <input type="password" class="form-control form-control-sm" formControlName="currentPassword">
                </div>
                <div class="form-group">
                    <label class="float-left">Type your new password.</label>
                    <input type="password" class="form-control form-control-sm" formControlName="newPassword">
                </div>
                <div class="form-group">
                    <label class="float-left">Retype your new password.</label>
                    <input type="password" class="form-control form-control-sm" formControlName="verifyNewPassword">
                </div>
            </form>

            <div class="form-group">
                <div class="btn-group float">
                    <button type="button" class="btn btn-sm" style="background-color: #1f1a33; color: white" (click)="verifyPasswords()">Save</button> &nbsp;
                </div>
            </div>

        </div>

        <div class="col-md-4">
        </div>

    </div>

</div>