<app-navbar></app-navbar>

<div class="container text-center" style="margin-top: 1%; background-color: #e9ecef;">

    <label class="navbar-brand" style="margin-top: 2%;">PROFILE</label>

    <div class="row mt-3">

        <div class="col-md-4">
        </div>

        <div class="col-md-4">

            <form [formGroup]="profileForm">
                <div class="form-group">
                    <label class="float-left">Fullname</label>
                    <input type="text" class="form-control form-control-sm" formControlName="fullname">
                </div>
                <div class="form-group">
                    <label class="float-left">Email</label>
                    <input type="text" class="form-control form-control-sm" formControlName="email">
                </div>
            </form>

            <div class="form-group">
                <div class="btn-group float">
                    <button type="button" class="btn btn-sm" style="background-color: #1f1a33; color: white" (click)="save()">Save</button> &nbsp;
                </div>
            </div>

        </div>

        <div class="col-md-4">
        </div>

    </div>

    <app-update-password></app-update-password>

</div>