<div ngbDropdown class="d-inline-block">

    <button class="btn btn-outline-primary" id="dropdown" ngbDropdownToggle>Filter</button>

    <div ngbDropdownMenu aria-labelledby="dropdown">

        <form class="ml-3 mr-4" [formGroup]="filterForm">
            <div class="form-group">
                <label>#</label>
                <input type="number" class="form-control form-control-sm" formControlName="id">
            </div>
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control form-control-sm" formControlName="title">
            </div>
            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control form-control-sm" formControlName="description">
            </div>
        </form>

        <div class="form-group">
            <div class="btn-group float-right">
                <button type="button" class="btn btn-sm" style="background-color: #1f1a33; color: white" (click)="reset()">Reset</button> &nbsp;
                <button type="submit" class="btn btn-sm" style="background-color: #1f1a33; color: white" (click)="onSubmit(filterForm.value)">Filter</button>
            </div>
        </div>


    </div>

</div>