<div class="container text-center" style="max-width:350px;  padding-top: 7%;">

    <div *ngIf="this.parameters['verificationCodeURL'] == null || this.parameters['verificationCodeURL'] == undefined">
        <form class="d-flex" [formGroup]="recoveryPasswordForm" (ngSubmit)="sendEmail()">
            <input class="form-control me-2" type="email" formControlName="email" placeholder="Write your email" aria-label="Search">
            <button class="btn btn-outline-success" style="background-color: #53c943; color: white;" type="submit">Send</button>
        </form>
        <div style="margin: 7%">
            <button class="btn btn-outline-success" style="background-color: #1f1a33; color: white" (click)="goToLogIn()">Return</button>
        </div>
    </div>

    <div *ngIf="this.parameters['verificationCodeURL']">
        <form [formGroup]="passwordForm">
            <div class="form-group">
                <label class="float-left">Type your new password.</label>
                <input type="password" class="form-control form-control-sm" formControlName="newPassword">
            </div>
        </form>

        <div class="form-group">
            <div class="btn-group float">
                <button type="button" class="btn btn-sm" style="background-color: #53c943; color: white" (click)="updatePasswordAndVerificationCode()">Update</button> &nbsp;
            </div>
        </div>
    </div>

</div>